<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>My Website - About</title>
    <link rel="stylesheet" href="{{url_for('static',filename='css/app.css')}}">
</head>

<body>
    <h1 class="header">Romaine Murray</h1>
    <p>I am a computer science major at the University of the West Indies (U.W.I). I am interested in becoming a web
        developer, primarily to work on the backend. I really love working with databases and php files. Check out my <a
            href="https://github.com/rxmii4269">Github Page</a> to see my projects.
    </p>
</body>

</html>